{% if wo_breadcrumbs()|length %}
  <ul id="wo-breadcrumbs" class="breadcrumb">
    {% for b in wo_breadcrumbs() %}
      {% if loop.last %}
        <li class="active"><a href="{{ b.url }}">{{ b.text }}</a></li>
      {% else %}
        <li><a href="{{ b.url }}">{{ b.text }}</a><span class="divider">/</span></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
