{%  extends '::base.html.twig' %}
{% block content %}
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}" - {{ exception.class|abbr_class }}.</h2>

        <div>
            Something is broken. Please got to <a href="https://bitbucket.org/Bladrak/swtor-combat-log-analyzer/">the BitBucket page</a> 
            and let me know
            what you were doing when this error occurred by creating an issue. I will fix it as soon
            as possible. Sorry for any inconvenience caused.
        </div>
{% endblock %}