<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Welcome to the SWTOR Log Analyzer!
        									You can create your account, set up your characters and then import your combat logs from
        									Star Wars: the Old Republic and view statistics graphically! How great is that?!"/>
        <meta name="keywords" content="swtor, combat, log, analyzer, parser, star wars, old republic, statistics" />
        <title>{% block title %}SWTOR Log Analyzer{% endblock %}</title>
		{% block stylesheets %}
			{% stylesheets 'bundles/loganalyzercombatlog/css/vendor/bootstrap.css'
							'bundles/loganalyzercombatlog/css/vendor/bootstrap-responsive.css'
							filter='cssrewrite, ?yui_css' %}
       		<link rel="stylesheet" href="{{ asset_url }}" />
	        {% endstylesheets %}
		{% endblock %}
       	<link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
    </head>

    <body style="padding-top:60px; padding-bottom:40px;">
    {% block navmenu %}
		{% render "LogAnalyzerGlobalBundle:Global:topMenu" with {'currentRoute': app.request.getRequestUri} %}
	{% endblock %}

    <div class="container-fluid">
      <div class="row-fluid">
	    {% if app.request.attributes.get('_route') == "_welcome" or app.request.attributes.get('_route') == "fos_user_security_login" %}
    	  	{% set sidebarSize="2" %}
    	  	{% set contentSize="8" %}
      	{% else %}
      		{% set sidebarSize="3" %}
      		{% set contentSize="9" %}
      	{% endif %}
      	<div class="span{{ sidebarSize }}">
	      {% block sidebar %}
	      	{% render "LogAnalyzerGlobalBundle:Global:sidebar" with {'currentRoute': app.request.getRequestUri} %}
	      {% endblock %}
      	</div>
        <div class="span{{ contentSize }}">
		{% block contentHeading %}
		{% if app.request.attributes.get('_route') == "fos_user_security_login" %}
          <div class="hero-unit">
            <h2>{% trans %}Welcome !{% endtrans %}</h2>
            <p>{% trans %}Welcome to the SWTOR Log Analyzer!
            	You can create your account, set up your characters and then import your combat logs
            	from Star Wars: the Old Republic and view statistics graphically! How great is that?!{% endtrans %}</p>
            <p>{% trans %}Looking for a sample? Check out{% endtrans %} <a href="{{ path('stats_show_sample') }}">{% trans %}the last imported log{% endtrans %}</a>.</p>
          </div>
		{% endif %}
		{% endblock %}
{#           {{ wo_render_breadcrumbs() }}#}
          <div class="row-fluid">
			<h1 style="padding-bottom:10px;">{% block pageTitle %}{% endblock %}</h1>
			{% if maintenance %}
	          <div class="hero-unit">
	            <h2>{% trans %}Leveling in progress{% endtrans %}</h2>
	            <p>{% trans %}The SWTOR Log Analyzer is currently fighting droids to improve the service offered. Please come back in a few moments.{% endtrans %}</p>
	            <p>{% trans %}Sorry for the inconvenience. May the force be with you.{% endtrans %}</p>
	          </div>
			{% else %}
				{% block flashes %}
		            {% if app.session.hasFlash('success') %}
						<div class="alert alert-success">
							<a class="close" data-dismiss="alert">x</a>
							<h4 class="alert-heading">{% trans %}You're awesome!{% endtrans %}</h4>
							{{ app.session.flash('success') }}
	                        </div>
	                {% endif %}
	                {% if app.session.hasFlash('error') %}
	                	<div class="alert alert-error">
	                    	<a class="close" data-dismiss="alert">x</a>
	                        <h4 class="alert-heading">{% trans %}Oops!{% endtrans %}</h4>
	                        {{ app.session.flash('error') }}
	                    </div>
	                {% endif %}
	                {% if app.session.hasFlash('warning') %}
	                	<div class="alert alert-warning">
		                    <a class="close" data-dismiss="alert">x</a>
		                    <h4 class="alert-heading">{% trans %}Warning!{% endtrans %}</h4>
		                    {{ app.session.flash('warning') }}
	                    </div>
	                {% endif %}
	                {% if app.session.hasFlash('info') %}
		                <div class="alert alert-info">
			                <a class="close" data-dismiss="alert">x</a>
			                <h4 class="alert-heading">{% trans %}Breaking news!{% endtrans %}</h4>
			                {{ app.session.flash('info') }}
		                </div>
	                {% endif %}
				{% endblock %}
	       		{% block content %}{% endblock %}
       		{% endif %}
          </div><!--/row-->
        </div><!--/span-->
		{% if app.request.attributes.get('_route') == "_welcome" or app.request.attributes.get('_route') == "fos_user_security_login" %}
        <div class="span2">
	      {% block socials %}
	      		{% render "LogAnalyzerGlobalBundle:Global:social" %}
	      {% endblock %}
        </div><!-- /span -->
      	{% endif %}
      </div><!--/row-->

      <hr>

      <footer>
      {% block footer %}
		<div id="mentions" class="well">
			<p class="muted">{% trans %}Copyright © 2012 Hugo Briand, all rights reserved.{% endtrans %}</p>
			<p class="muted">{% trans %}This website is not endorsed by or affiliated with LucasArts, BioWare, or Electronic Arts.{% endtrans %}</p>
			<p class="muted">{% trans %}LucasArts, the LucasArts logo, STAR WARS and related properties are trademarks in the United States and/or in other countries of Lucasfilm Ltd. and/or its affiliates. © 2012 Lucasfilm Entertainment Company Ltd. or Lucasfilm Ltd. All rights reserved. BioWare and the BioWare logo are trademarks of EA International (Studio and Publishing) Ltd. EA and the EA logo are trademarks of Electronic Arts Inc. All other trademarks are the property of their respective owners.{% endtrans %}</p>
		</div>
		{% endblock %}
      </footer>

    </div><!--/.fluid-container-->
        {% block javascripts %}
        	{% javascripts '@LogAnalyzerCombatLogBundle/Resources/public/js/vendor/jquery-1.7.1.js'
        					'@LogAnalyzerCombatLogBundle/Resources/public/js/vendor/bootstrap.js' 
        					filter='?yui_js'
        	%}
	        <script type="text/javascript" src="{{ asset_url }}"></script>
	        {% endjavascripts %}

	        <!-- Bootstrap dropdown -->
	        <script type="text/javascript">
		        $('.dropdown-toggle').dropdown();
	        </script>

	        <script type="text/javascript">
	        	$(".collapser").click( function() {
		        	var iElem = $(this).find("i:first");
		        	if (iElem.hasClass("icon-arrow-right")) {
			        	iElem.removeClass("icon-arrow-right");
			        	iElem.addClass("icon-arrow-down");
					} else {
						iElem.removeClass("icon-arrow-down");
						iElem.addClass("icon-arrow-right");
					}
				});
			</script>
			<!-- Analytics BST -->
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-29254316-1']);
			  _gaq.push(['_setDomainName', 'none']);
			  _gaq.push(['_setAllowLinker', 'true']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>
       	{% endblock %}
    </body>
</html>