{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans with {'%groupstats_title%': entity.title} %}Edit GroupStats: %groupstats_title%{% endtrans %} </h1>

<form action="{{ path('guild_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary"type="submit"><i class="icon-cog icon-white"></i>&nbsp;{% trans %}Save{% endtrans %}</button>
    </p>
</form>

<div class="btn-group" style="padding-top:20px;">
        <a class="btn" href="{{ path('groupstats_show', {'id' : entity.id}) }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back to group stats{% endtrans %}
        </a>
        <form action="{{ path('groupstats_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete GroupStats{% endtrans %}</button>
        </form>
</div>

{% endblock %}
