<h1>GroupStats list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Title</th>
            <th>Fromdate</th>
            <th>Todate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('groupstats_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.title }}</td>
            <td>{% if entity.fromDate %}{{ entity.fromDate|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.toDate %}{{ entity.toDate|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('groupstats_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('groupstats_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('groupstats_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
