<h3 style="padding-bottom:10px;">{% if character_id %}{% trans %}Groups{% endtrans %}{% else %}{% trans %}Flashpoints / Operations{% endtrans %}{% endif %}</h3>

{% if entities|length > 0 %}
<table class="table table-bordered table-striped" id="logs_table">
    <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Start Date{% endtrans %}</th>
            <th>{% trans %}End Date{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.title }}</td>
            <td>{{ entity.fromDate|localeDate('long', 'medium') }}</td>
            <td>{{ entity.toDate|localeDate('long', 'medium') }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('groupstats_show', { 'id': entity.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
	{% if character_id %}
		<p>{% trans %}No group stats for this character.{% endtrans %}</p>
	{% else %}
		<p>{% trans %}No flashpoint/operation for this guild.{% endtrans %}</p>
	{% endif %}
{% endif %}

{% if access %}
	{% if character_id %}
		<a href="{{ path('groupstats_new', {'tc_id' : character_id} ) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i>&nbsp;{% trans %}Create new group{% endtrans %}</a>
	{% else %}
		<a href="{{ path('groupstats_new_guild', {'guild_id' : guild_id} ) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i>&nbsp;{% trans %}Create new flashpoint / operation{% endtrans %}</a>
	{% endif %}
{% endif %}
