{% extends '::base.html.twig' %}
{% block pageTitle %}{% trans %}New Group{% endtrans %}{% endblock %}
{% block content %}
<form action="{{ path('groupstats_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="icon-plus-sign icon-white"></i>&nbsp;{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<a class="btn btn-primary" href="{{ path('_welcome') }}">
<i class="icon-arrow-left icon-white"></i>
	{% trans %}Back{% endtrans %}
</a>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-darkness/jquery-ui.css" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/loganalyzerglobal/js/vendor/jquery-ui-timepicker-addon.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(
		$(function() {
		    $( '#loganalyzer_bundle_statsbundle_groupstatstype_fromDate' ).datetimepicker();
		    $( '#loganalyzer_bundle_statsbundle_groupstatstype_toDate' ).datetimepicker();
	}));
	</script>
{% endblock %}