{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} - {% trans with {'%group_title%': entity.title} %}Statistics for group %group_title%{% endtrans %}{% endblock %}

{% block pageTitle %}{% trans with {'%group_title%': entity.title} %}Group: %group_title%{% endtrans %}{% endblock %}
{% block content %}

<table class="table table-bordered table-striped" id="genInfos">
    <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}From{% endtrans %}</th>
            <th>{% trans %}To{% endtrans %}</th>
        </tr>
    </thead>
	<tbody>
        <tr>
            <td>{{ entity.title }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.fromDate|localeDate('long', 'medium') }}</td>
            <td>{{ entity.toDate|localeDate('long', 'medium') }}</td>
        </tr>
    </tbody>
</table>
<h3>{% trans %}Members{% endtrans %}</h3>
<table class="table table-bordered table-striped" id="members">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Class{% endtrans %}</th>
        </tr>
    </thead>
	<tbody>
	{% for member in entity.members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.torClass }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="btn-group" style="padding-top:10px;">
	{% if entity.guild %}
        <a class="btn" href="{{ path('guild_show', {'id' : entity.guild.id}) }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back to guild{% endtrans %}
        </a>
	{% else %}
        <a class="btn" href="{{ path('_welcome') }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back to user{% endtrans %}
        </a>
    {% endif %}
    {% if access %}
        <a class="btn btn-primary" href="{{ path('groupstats_edit', { 'id': entity.id }) }}">
        	<i class="icon-cog icon-white"></i>
            {% trans %}Edit{% endtrans %}
        </a>
        <form action="{{ path('groupstats_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete Group{% endtrans %}</button>
        </form>
    {% endif %}
</div>

<h3 style="padding-top:15px;">{% trans %}Stats{% endtrans %}</h3>
{% render "LogAnalyzerStatsBundle:Stats:showGroup" with {'id': entity.id} %}

{% endblock %} {# content #}

{% block javascripts %}
	{{ parent() }}
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
						'@LogAnalyzerStatsBundle/Resources/public/js/membersDataTable.js'
					'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highcharts.js'
					'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highstock.src.js'
					'@LogAnalyzerStatsBundle/Resources/public/js/timeChartsGroup.js'
					'@LogAnalyzerStatsBundle/Resources/public/js/rankingChart.js'
					filter="?yui_js"
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script type="text/javascript">
		$.ajax({
			url: '{{ path('stats_chartdata', { "id": entity.aggregatedStats.id, "name": "deaths" }) }}'
		}).done(function(deathDataStr){
			var deathData = eval(deathDataStr);
			// Time charts
			$.ajax({
				url: '{{ path('stats_chartdataplayer', { "id": entity.id, "name": "dps"}) }}'
			}).done(function(chartData){
				timeChartPerPlayer("perPlayerChartDps", "{% trans %}DPS Over Time per player{% endtrans %}", "{% trans %}DPS{% endtrans %}", chartData, deathData);
			});
			$.ajax({
				url: '{{ path('stats_chartdataplayer', { "id": entity.id, "name": "hps"}) }}'
			}).done(function(chartData){
				timeChartPerPlayer("perPlayerChartHps", "{% trans %}HPS Over Time per player{% endtrans %}", "{% trans %}HPS{% endtrans %}", chartData, deathData);
			});
			$.ajax({
				url: '{{ path('stats_chartdataplayer', { "id": entity.id, "name": "tps"}) }}'
			}).done(function(chartData){
				timeChartPerPlayer("perPlayerChartTps", "{% trans %}TPS Over Time per player{% endtrans %}", "{% trans %}TPS{% endtrans %}", chartData, deathData);
			});
			// Total ranking charts
			$.ajax({
				url: '{{ path('stats_rankingplayer', { "id": entity.id, "name": "total_damage_done"}) }}'
			}).done(function(chartData){
				rankingChart("damageRanking", "{% trans %}Damage repartition per player{% endtrans %}", "{% trans %}Damage{% endtrans %}", chartData);
			});
			$.ajax({
				url: '{{ path('stats_rankingplayer', { "id": entity.id, "name": "total_heal_done"}) }}'
			}).done(function(chartData){
				rankingChart("healRanking", "{% trans %}Heal repartition per player{% endtrans %}", "{% trans %}Heal{% endtrans %}", chartData);
			});
			$.ajax({
				url: '{{ path('stats_rankingplayer', { "id": entity.id, "name": "total_threat"}) }}'
			}).done(function(chartData){
				rankingChart("threatRanking", "{% trans %}Threat repartition per player{% endtrans %}", "{% trans %}Threat{% endtrans %}", chartData);
			});
			// PerSec ranking charts
			$.ajax({
				url: '{{ path('stats_rankingplayer', { "id": entity.id, "name": "overall_dps"}) }}'
			}).done(function(chartData){
				rankingChart("dpsRanking", "{% trans %}DPS repartition per player{% endtrans %}", "{% trans %}DPS{% endtrans %}", chartData);
			});
			$.ajax({
				url: '{{ path('stats_rankingplayer', { "id": entity.id, "name": "overall_hps"}) }}'
			}).done(function(chartData){
				rankingChart("hpsRanking", "{% trans %}HPS repartition per player{% endtrans %}", "{% trans %}HPS{% endtrans %}", chartData);
			});
			$.ajax({
				url: '{{ path('stats_rankingplayer', { "id": entity.id, "name": "overall_Tps"}) }}'
			}).done(function(chartData){
				rankingChart("tpsRanking", "{% trans %}TPS repartition per player{% endtrans %}", "{% trans %}TPS{% endtrans %}", chartData);
			});
	});
		</script>
		<script type="text/javascript">
				$("a[rel=popover]")
			      .popover()
			      .click(function(e) {
			        e.preventDefault()
			      });
		      $(function () {
    			$('.tabs a:last').tab('show')
  				});
		    </script>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
					filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

