{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans %}Edit Guild {% endtrans %}{{ entity.name }}</h1>

<form action="{{ path('guild_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary"type="submit"><i class="icon-cog icon-white"></i>&nbsp;{% trans %}Save{% endtrans %}</button>
    </p>
</form>

<div class="btn-group" style="padding-top:20px;">
        <a class="btn" href="{{ path('guild_show', {'id' : entity.id}) }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back to guild{% endtrans %}
        </a>
        <form action="{{ path('guild_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete Guild{% endtrans %}</button>
        </form>
</div>

{% endblock %}
