{% extends "LogAnalyzerUserBundle::layout.html.twig" %}
{% block pageTitle %}{% trans %}Guild list{% endtrans %}{% endblock %}
{% block content %}

<table class="table table-bordered table-striped" id="guild_table">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Server{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.server }}</td>
            <td>
				<a class="btn btn-primary" href="{{ path('guild_show', { 'id' : entity.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
					filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
					'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
					'@LogAnalyzerUserBundle/Resources/public/js/guildDataTable.js'
						filter="?yui_js"
					%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}
