{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans %}Guild creation{% endtrans %}</h1>

<form action="{{ path('guild_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="icon-plus icon-white"></i>&nbsp;{% trans %}Create{% endtrans %}</button>
    </p>
</form>

        <a class="btn btn-primary" href="{{ path('character_show', {'id' : entity.leader.id}) }}">
        <i class="icon-arrow-left icon-white"></i>
            {% trans %}Back to character{% endtrans %}
        </a>
{% endblock %}