{% extends "LogAnalyzerUserBundle::layout.html.twig" %}
{% block pageTitle %}{{ entity.name }} on {{ entity.server }}{% endblock %}

{% block content %}

{% if access and entity.pendingapplies|length > 0 %}
<h3>{% trans %}Applies{% endtrans %}</h3>
<table class="table table-bordered table-striped" id="applies_table">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Class{% endtrans %}</th>
            <th>{% trans %}Apply date{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for apply in entity.pendingapplies %}
        <tr>
            <td>{{ apply.applyant.name }}</td>
            <td>{{ apply.applyant.torclass }}</td>
            <td>{{ apply.applydate|localeDate('long', 'medium') }}</td>
            <td>
            	<div class="btn-group">
                	<a class="btn btn-primary" href="{{ path('stats_show_character', { 'id': apply.applyant.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View Stats{% endtrans %}</a>
                	<a class="btn btn-success" href="{{ path('apply_accept', { 'id': apply.id }) }}"><i class="icon-ok icon-white"></i>&nbsp;{% trans %}Accept{% endtrans %}</a>
                	<a class="btn btn-danger" href="{{ path('apply_decline', { 'id': apply.id }) }}"><i class="icon-remove icon-white"></i>&nbsp;{% trans %}Decline{% endtrans %}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<h3>{% trans %}Members{% endtrans %}</h3>
<table class="table table-bordered table-striped" id="char_table">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Class{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for char in entity.members %}
        <tr>
            <td>{{ char.name }} {% if char.id == entity.leader.id %}{% trans %}(leader){% endtrans %}{% endif %}</td>
            <td>{{ char.torclass }}</td>
            <td>
            	<div class="btn-group">
            		<a class="btn btn-primary" href="{{ path('stats_show_character', { 'id': char.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View Stats{% endtrans %}</a>
            		{% if userIsLeader and char.id != entity.leader.id %}
	            		<a class="btn btn-success" href="{{ path('guild_set_leader', { 'charId': char.id, 'id' : entity.id }) }}"><i class="icon-chevron-up icon-white"></i>&nbsp;{% trans %}Set guild leader{% endtrans %}</a>
	            		<a class="btn btn-danger" href="{{ path('guild_remove_character', { 'charId': char.id, 'id' : entity.id }) }}"><i class="icon-remove icon-white"></i>&nbsp;{% trans %}Remove character from guild{% endtrans %}</a>
            		{% endif %}
				</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if userIsLeader %}
<div class="btn-group" style="padding-bottom:10px;">
        <a class="btn btn-primary" href="{{ path('guild_edit', { 'id': entity.id }) }}">
        	<i class="icon-cog icon-white"></i>
            {% trans %}Edit{% endtrans %}
        </a>
	        <form action="{{ path('guild_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete{% endtrans %}</button>
	        </form>
</div>
{% endif %}

{% render "LogAnalyzerStatsBundle:GroupStats:guildList" with {'id': entity.id} %}

<h3 style="padding-top:15px;">{% trans %}Global Stats{% endtrans %}</h3>
{% render "LogAnalyzerStatsBundle:Stats:showGuildRender" with {'id': entity.id} %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
					filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
					'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
					'@LogAnalyzerUserBundle/Resources/public/js/charDataTable.js'
					'@LogAnalyzerCombatLogBundle/Resources/public/js/logsDataTable.js'
						filter="?yui_js"
					%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
		<script type="text/javascript">
			$("a[rel=popover]")
		      .popover()
		      .click(function(e) {
		        e.preventDefault()
		      });
		</script>
{% endblock %}