<h1>LogEntry list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Log_timestamp</th>
            <th>Source</th>
            <th>Target</th>
            <th>Ability_name</th>
            <th>Ability_id</th>
            <th>Action_name</th>
            <th>Action_string_id</th>
            <th>Effect_name</th>
            <th>Effect_string_id</th>
            <th>Value</th>
            <th>Value_crit</th>
            <th>Threat</th>
            <th>Source_is_player</th>
            <th>Target_is_player</th>
            <th>Is_event</th>
            <th>Event_type</th>
            <th>Event_type_id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('logentry_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.logtimestamp %}{{ entity.logtimestamp|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.source }}</td>
            <td>{{ entity.target }}</td>
            <td>{{ entity.abilityname }}</td>
            <td>{{ entity.abilityid }}</td>
            <td>{{ entity.actionname }}</td>
            <td>{{ entity.actionstringid }}</td>
            <td>{{ entity.effectname }}</td>
            <td>{{ entity.effectstringid }}</td>
            <td>{{ entity.value }}</td>
            <td>{{ entity.valuecrit }}</td>
            <td>{{ entity.threat }}</td>
            <td>{{ entity.sourceisplayer }}</td>
            <td>{{ entity.targetisplayer }}</td>
            <td>{{ entity.isevent }}</td>
            <td>{{ entity.eventtype }}</td>
            <td>{{ entity.eventtypeid }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('logentry_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('logentry_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('logentry_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
