<h1>Analysis</h1>

{# {% if entities|length > 0 %}#}
{# <table class="table table-bordered table-striped" id="logs_table">#}
{#     <thead>#}
{#         <tr>#}
{#             <th>Time</th>#}
{#             <th>Source_is_player</th>#}
{#             <th>Source</th>#}
{#             <th>Target_is_player</th>#}
{#             <th>Target</th>#}
{#             <th>Ability_name</th>#}
{#             <th>Ability_id</th>#}
{#             <th>Resource Event</th>#}
{#             <th>Resource Event ID</th>#}
{#             <th>Is_effect</th>#}
{#             <th>Effect_name</th>#}
{#             <th>Effect_string_id</th>#}
{#             <th>Value</th>#}
{#             <th>Value_crit</th>#}
{#             <th>Value_type</th>#}
{#             <th>Value_type_id</th>#}
{#             <th>Value_absorbed</th>#}
{#             <th>Value_absorbed_name</th>#}
{#             <th>Value_absorbed_name_id</th>#}
{#             <th>Threat</th>#}
{#         </tr>#}
{#     </thead>#}
{#     <tbody>#}
{#     {% for entity in entities %}#}
{#         <tr>#}
{#             <td>{% if entity.logtimestamp %}{{ entity.logtimestamp|date('Y-m-d H:i:s') }}{% endif%}</td>#}
{#             <td>{{ entity.sourceisplayer }}</td>#}
{#             <td>{{ entity.source }}</td>#}
{#             <td>{{ entity.targetisplayer }}</td>#}
{#             <td>{{ entity.target }}</td>#}
{#             <td>{{ entity.abilityname }}</td>#}
{#             <td>{{ entity.abilityid }}</td>#}
{#             <td>{{ entity.iseffect }}</td>#}
{#             <td>{{ entity.effectname }}</td>#}
{#             <td>{{ entity.effectstringid }}</td>#}
{#             <td>{{ entity.value }}</td>#}
{#             <td>{{ entity.valuecrit }}</td>#}
{#             <td>{{ entity.valuetype }}</td>#}
{#             <td>{{ entity.valuetypeid }}</td>#}
{#             <td>{{ entity.valueabsorbed }}</td>#}
{#             <td>{{ entity.valueabsorbedname }}</td>#}
{#             <td>{{ entity.valueabsorbednameid }}</td>#}
{#             <td>{{ entity.threat }}</td>#}
{#         </tr>#}
{#     {% endfor %}#}
{#     </tbody>#}
{# </table>#}
{# {% endif %}#}
