<h1>LogEntry</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Log_timestamp</th>
            <td>{{ entity.logtimestamp|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ entity.source }}</td>
        </tr>
        <tr>
            <th>Target</th>
            <td>{{ entity.target }}</td>
        </tr>
        <tr>
            <th>Ability_name</th>
            <td>{{ entity.abilityname }}</td>
        </tr>
        <tr>
            <th>Ability_id</th>
            <td>{{ entity.abilityid }}</td>
        </tr>
        <tr>
            <th>Action_name</th>
            <td>{{ entity.actionname }}</td>
        </tr>
        <tr>
            <th>Action_string_id</th>
            <td>{{ entity.actionstringid }}</td>
        </tr>
        <tr>
            <th>Effect_name</th>
            <td>{{ entity.effectname }}</td>
        </tr>
        <tr>
            <th>Effect_string_id</th>
            <td>{{ entity.effectstringid }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ entity.value }}</td>
        </tr>
        <tr>
            <th>Value_crit</th>
            <td>{{ entity.valuecrit }}</td>
        </tr>
        <tr>
            <th>Threat</th>
            <td>{{ entity.threat }}</td>
        </tr>
        <tr>
            <th>Source_is_player</th>
            <td>{{ entity.sourceisplayer }}</td>
        </tr>
        <tr>
            <th>Target_is_player</th>
            <td>{{ entity.targetisplayer }}</td>
        </tr>
        <tr>
            <th>Is_event</th>
            <td>{{ entity.isevent }}</td>
        </tr>
        <tr>
            <th>Event_type</th>
            <td>{{ entity.eventtype }}</td>
        </tr>
        <tr>
            <th>Event_type_id</th>
            <td>{{ entity.eventtypeid }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('logentry') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('logentry_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('logentry_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
