{% extends '::base.html.twig' %}

{% block content %}

<p>{% trans %}This website has been created by Hugo Briand.{% endtrans %}</p>
<p>{% trans %}If you want to contact me, you can send me an email using the following form, and I'll try to answer ASAP.{% endtrans %}</p>

{% if app.session.hasFlash('notice') %}
    <div class="alert alert-success">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

    <form action="{{ path('sendContact') }}" method="post" {{ form_enctype(form) }} class="well">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <button class="btn btn-success" type="submit"><i class="icon-envelope icon-white"></i>&nbsp;{% trans %}Send{% endtrans %}</button>
    </form>

{% endblock %}