<div class="well sidebar-nav" id="sidebar">
	<ul class="nav nav-list">
		<li class="nav-header">SWTOR Log Analyzer</li>
		{% block sidebar_general %}
			<li {% if cRoute == path('_welcome') %} class="active" {% endif %}><a href="{{ path('_welcome') }}">{% trans %}Home{% endtrans %}</a></li>
			<li {% if cRoute == path('guild') %}class="active"{% endif %}><a href="{{ path('guild') }}">{% trans %}Guilds{% endtrans %}</a></li>
			<li><a href="https://bitbucket.org/Bladrak/swtor-combat-log-analyzer/">{% trans %}Report bug / Ask for feature{% endtrans %}</a></li>
			<li {% if cRoute == path('contact') %} class="active" {% endif %}><a href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
		{% endblock %}
		{% block sidebar_rankings %}
			<li class="nav-header">{% trans %}Rankings{% endtrans %}</li>
			<ul class="nav nav-list">
              	<li class="nav-header collapser" data-toggle="collapse" data-target="#inter_server"><i class="icon-arrow-right"></i>&nbsp;{% trans %}Inter-server{% endtrans %}</li>
              	<ul class="nav nav-list collapse" id="inter_server">
					{% for col, colDesc in statsColumns %}
              			<li><a href="{{ path('ranking_stat', { "stat" : col }) }}"><i class="icon-signal"></i>{{ colDesc }}</a></li>
              		{% endfor %}
              	</ul>
              	<li class="nav-header collapser" data-toggle="collapse" data-target="#per_server"><i class="icon-arrow-right"></i>&nbsp;{% trans %}Per server{% endtrans %}</li>
              	<ul class="nav nav-list collapse" id="per_server">
              		{% for srvZone, srv in servers %}
              			<li class="nav-header collapser" data-toggle="collapse" data-target="#{{ srvZone|replace({' ': '', '\'': ''}) }}"><i class="icon-arrow-right"></i>&nbsp;{{ srvZone }}</li>
              			<ul class="nav nav-list collapse" id="{{ srvZone|replace({' ': '', '\'': ''}) }}">
              				{% for srvId, srvName in srv %}
		              			<li class="nav-header collapser" data-toggle="collapse" data-target="#{{ srvZone|replace({' ': '', '\'': ''}) }}_{{ srvName|replace({' ': '', '\'': ''}) }}"><i class="icon-arrow-right"></i>&nbsp;{{ srvName }}</li>
		              			<ul class="nav nav-list collapse" id="{{ srvZone|replace({' ': '', '\'': ''}) }}_{{ srvName|replace({' ': '', '\'': ''}) }}">
	              				{% for col, colDesc in statsColumns %}
			              			<li><a href="{{ path('ranking_stat_server', { "stat" : col, "server" : srvId }) }}"><i class="icon-signal"></i>{{ colDesc }}</a></li>
			              		{% endfor %}
			              		</ul>
              				{% endfor %}
              			</ul>
              		{% endfor %}
              	</ul>
			</ul>
		{% endblock %}
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% if treeStatsInfos|length > 0 %}
				{% block sidebar_nav %}
				<li class="nav-header">{% trans %}Navigation{% endtrans %}</li>
				<ul class="nav nav-list">
				<li class="nav-header collapser{% if treeStatsInfos.selected == "self" %} active{% endif %}" data-toggle="collapse" data-target="#nav_{{ app.user.id }}_chars">
	              	<i class="{% if treeStatsInfos.selected %}icon-arrow-down{% else %}icon-arrow-right{% endif %}"></i>
	              		{{ app.user.username }} ({% trans with {'%char_count%': treeStatsInfos.children|length } %}%char_count% characters{% endtrans %})
	              		<a href="{{ treeStatsInfos.showurl }}">
	              			<i class="icon-user{% if treeStatsInfos.selected == "self" %} icon-white{% endif %}"></i>&nbsp;{% trans %}User{% endtrans %}
	              		</a>
				</li>
				<li>
				{% if treeStatsInfos.children %}
					<ul class="nav nav-list collapse{% if treeStatsInfos.selected %} in{% endif %}" id="nav_{{ app.user.id }}_chars">
              			{% for char in treeStatsInfos.children %}
              				<li style="margin-top:3px;" class="nav-header collapser{% if char.selected == "self" %} active{% endif %}" data-toggle="collapse" data-target="#nav_{{ app.user.id }}_{{ char.id }}_logs">
								<a href="{{ char.showurl }}">
									<i class="icon-user{% if char.selected == "self" %} icon-white{% endif %}"></i>&nbsp;{{ char.desc }} ({% trans with {'%logs_count%': char.children|length } %}%logs_count% imported logs{% endtrans %})
								</a>
              				</li>
              				<li>
              					{% if char.guild is defined %}
              						<ul class="nav nav-list" id="nav_{{ app.user.id }}_{{ char.id }}_guild">
	              						<li {% if char.guild.selected == "self" %} class="active" {% endif %}>
											<a href="{{ char.guild.showurl }}">
												<i class="icon-user"></i>&nbsp;{{ char.guild.desc }}
											</a>
	              						</li>
              						</ul>
              					{% endif %}
           					</li>
              			{% endfor %} <!-- Character -->
              		</ul>
              	{% endif %}
				</li>
				{% endblock %}
			{% endif %}
		{% endif %}
	</ul>
</div><!--/.well -->
          
