<?xml version="1.0" encoding="UTF-8"?>

<urlset  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" 
			xmlns:xhtml="http://www.w3.org/1999/xhtml"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

{% for link in links %}
	{% for lang in ['', 'en', 'fr', 'de'] %}
	<url>
		<loc>{{ url(link.link, link.params(lang)) }}</loc>
		{% for altLang in ['en', 'fr', 'de'] %}
		<xhtml:link 
		    rel="alternate"
		    hreflang="{{ altLang }}"
		    href="{{ url(link.link, link.params(altLang)) }}" />
		{% endfor %}
		{% if link.lastModDate %}<lastmod>{{ link.lastModDate|date("Y-m-d") }}</lastmod>{% endif %}
		{% if link.changeFreq %}<changefreq>{{ link.changeFreq }}</changefreq>{% endif %}
		{% if link.priority %}<priority>{{ link.priority|localeNumberFormat() }}</priority>{% endif %}
	</url>
	{% endfor %}
{% endfor %}
</urlset>