<?xml version="1.0" encoding="UTF-8"?>

<sitemapindex  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

{% for link in links %}
	<sitemap>
		<loc>{{ url(link.link, link.params) }}</loc>
		{% if link.lastModDate %}<lastmod>{{ link.lastModDate|date("Y-m-d") }}</lastmod>{% endif %}
	</sitemap>
{% endfor %}
</sitemapindex>