<div class="row-fluid">
	<div class="span1">
		<!-- Place this tag where you want the share button to render. -->
		<div class="g-plus" data-action="share" data-href="{{ url }}" data-annotation="none"></div>
		
		<!-- Place this tag after the last share tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</div>
	<div class="span1">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url }}" data-text="Check my #SWTOR #LogAnalyzer stats on" data-via="torloganalyzer" data-size="medium" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="span1">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=394661950558201";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-like" data-send="false" data-href="{{ url }}" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div>
	</div>
</div>