<div class="row-fluid">
	<!-- Place this tag in the <head> of your document -->
	<script type="text/javascript">
	window.___gcfg = {lang: '{{ app.request.locale }}'};
	(function() 
	{var po = document.createElement("script");
	po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(po, s);
	})();</script>
	
	<!-- Place this tag where you want the badge to render -->
	<div class="g-plus" data-href="https://plus.google.com/109871329891619885106?rel=publisher" data-width="250" data-height="131" data-theme="light"></div>	
</div>

<div class="row-fluid">
	{% if app.request.locale == 'fr' %}
		{% set fullLocale = 'fr_FR' %}
	{% elseif app.request.locale == 'de' %}
		{% set fullLocale = 'de_DE' %}
	{% elseif app.request.locale == 'en' %}
		{% set fullLocale = 'en_US' %}
	{% endif %}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/{{ fullLocale }}/all.js#xfbml=1&appId=394661950558201";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like-box" data-href="http://www.facebook.com/SwtorLogAnalyzer" data-width="250" data-show-faces="true" data-border-color="#FFFFFF" data-stream="false" data-header="true"></div>
</div>
<br/>
<div class="row-fluid">
	{% set account = "torloganalyzer" %}
	{% if app.request.locale == 'fr' %}
		{% set account = "loganalyzer_fr" %}
	{% endif %}
	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 6,
	  interval: 30000,
	  width: 250,
	  height: 250,
	  theme: {
	    shell: {
	      background: '#333333',
	      color: '#ffffff'
	    },
	    tweets: {
	      background: '#000000',
	      color: '#ffffff',
	      links: '#0099ff'
	    }
	  },
	  features: {
	    scrollbar: true,
	    loop: false,
	    live: true,
	    behavior: 'all'
	  }
	}).render().setUser('{{ account }}').start();
	</script>
	<br/>
	<a href="https://twitter.com/torloganalyzer" class="twitter-follow-button" data-show-count="false">Follow @{{ account }}</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
</div>
