    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">
		  	<img src="{{ asset('bundles/loganalyzerglobal/images/logo.png') }}" width="22px"/>&nbsp;
		</a>
          <a class="brand" href="{{ path('_welcome') }}">SWTOR Log Analyzer (Beta)</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if cRoute == path('_welcome') %}class="active"{% endif %}><a href="{{ path('_welcome') }}">{% trans %}Home{% endtrans %}</a></li>
              <li {% if cRoute == path('guild') %}class="active"{% endif %}><a href="{{ path('guild') }}">{% trans %}Guilds{% endtrans %}</a></li>
              <li class="dropdown" id="menuGuides">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}User Guides{% endtrans %} <b class="caret"></b></a>
              		<ul class="dropdown-menu">
              			<li>
		              		<a href="https://docs.google.com/document/d/1floYRW2jygySoDbbwBfzq167DE4VFeuyb_AThTBD4LE/edit">English version</a>
	              		</li>
              			<li>
		              		<a href="https://docs.google.com/document/d/19tr1QiwoARTyfWN1oygiYEGGB9uPj8NMh0sAyNW3o4o/edit">Version française</a>
	              		</li>
	              	</ul>
              </li>
              <li><a href="https://bitbucket.org/Bladrak/swtor-combat-log-analyzer/">{% trans %}Report bug / Ask for feature{% endtrans %}</a></li>
              <li {% if cRoute == path('contact') %}class="active"{% endif %}><a href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
            </ul>
            <p class="navbar-text pull-right">
            <a href={{ path('change_language', {'lang' : 'en', 'route' : app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params')}) }}>English</a>
             | <a href={{ path('change_language', {'lang' : 'fr', 'route' : app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params')}) }}>Français</a>
             | <a href={{ path('change_language', {'lang' : 'de', 'route' : app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params')}) }}>Deutsch</a>
               &nbsp;
    		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
