{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="span5">
<h1 style="padding-bottom:10px;">{% trans %}Login{% endtrans %}</h1>
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-small" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/>

    <input type="password" id="password" name="_password" class="input-small" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"/>

    <label class="checkbox">
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    	{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>

    <button type="submit" id="_submit" name="_submit" class="btn"><i class="icon-user"></i>&nbsp;{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
<a href="{{ path('fos_user_resetting_request') }}">{% trans %}Forgot password?{% endtrans %}</a><br/>
</div>
<div class="span6">
<h1 style="padding-bottom:10px;">{% trans %}Register{% endtrans %}</h1>
{% render "FOSUserBundle:Registration:register" %}
</div>
{% endblock fos_user_content %}
