<h1>CombatLog list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cl_importtime</th>
            <th>Statsprocessed</th>
            <th>Overallhps</th>
            <th>Overalldps</th>
            <th>Overalltps</th>
            <th>Totalhealdone</th>
            <th>Totalhealreceived</th>
            <th>Totaldamagedone</th>
            <th>Totaldamagetaken</th>
            <th>Totalthreat</th>
            <th>Totalabsorbeddamages</th>
            <th>Totalinterrupts</th>
            <th>Totaldispells</th>
            <th>Healpercapacity</th>
            <th>Damagepercapacity</th>
            <th>Healcritratiovalue</th>
            <th>Dmgdonecritratiovalue</th>
            <th>Dmgtakencritratiovalue</th>
            <th>Healcritratiocapacity</th>
            <th>Dmgdonecritratiocapacity</th>
            <th>Dmgtakencritratiocapacity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('combatlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.climportTime %}{{ entity.climportTime|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.statsProcessed }}</td>
            <td>{{ entity.overallHps }}</td>
            <td>{{ entity.overallDps }}</td>
            <td>{{ entity.overallTps }}</td>
            <td>{{ entity.totalHealDone }}</td>
            <td>{{ entity.totalHealReceived }}</td>
            <td>{{ entity.totalDamageDone }}</td>
            <td>{{ entity.totalDamageTaken }}</td>
            <td>{{ entity.totalThreat }}</td>
            <td>{{ entity.totalAbsorbedDamages }}</td>
            <td>{{ entity.totalInterrupts }}</td>
            <td>{{ entity.totalDispells }}</td>
            <td>{{ entity.healPerCapacity }}</td>
            <td>{{ entity.damagePerCapacity }}</td>
            <td>{{ entity.healCritRatioValue }}</td>
            <td>{{ entity.dmgDoneCritRatioValue }}</td>
            <td>{{ entity.dmgTakenCritRatioValue }}</td>
            <td>{{ entity.healCritRatioCapacity }}</td>
            <td>{{ entity.dmgDoneCritRatioCapacity }}</td>
            <td>{{ entity.dmgTakenCritRatioCapacity }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('combatlog_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

