<h3 style="padding-bottom:10px;">{% trans %}Combat Logs{% endtrans %}</h3>
{% if access %}
<section id="char_new">
{% render "LogAnalyzerCombatLogBundle:CombatLog:new" with {'character_id' : character_id } %}
</section>
{% endif %}
{% if entities|length > 0 %}

<a style="margin-bottom:10px;" href="{{ path('fight', {"char_id" : character_id} ) }}" class="btn btn-primary"><i class="icon-search icon-white"></i>&nbsp;{% trans %}List / Search fights{% endtrans %}</a>

<table class="table table-bordered table-striped" id="logs_table">
    <thead>
        <tr>
            <th>{% trans %}Import Date{% endtrans %}</th>
            <th>{% trans %}Start Date{% endtrans %}</th>
            <th>{% trans %}End Date{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.climportTime %}{{ entity.climportTime|localeDate('long', 'medium') }}{% endif%}</td>
            <td>{% if 0 in entity.logStats|keys %}{{ entity.logStats[0].beginTime|localeDate('long', 'medium') }}{% endif%}</td>
            <td>{% if 0 in entity.logStats|keys %}{{ entity.logStats[0].endTime|localeDate('long', 'medium') }}{% endif%}</td>
            <td>
            	<div class="btn-group">
	                <a class="btn btn-primary" href="{{ path('stats_show_combatlog', { 'id': entity.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View{% endtrans %}</a>
	                {% if access %}
	                <a class="btn btn-danger" href="{{ path('combatlog_delete_noform', { 'id': entity.id }) }}"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete{% endtrans %}</a>
	                {% endif %}
	            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
