{% form_theme form 'LogAnalyzerGlobalBundle:Form:form_fields.html.twig' %}
<form class="well form-inline" action="{{ path('combatlog_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_row(form.imported_file, { 'attr' : {'class' : 'input-file'}}) }}
	{{ form_row(form.tor_character, {'label' : ' '}) }}
    {{ form_rest(form) }}
    <button id="importCombatLogBtn" class="btn btn-success" type="submit"><i class="icon-upload icon-white"></i>&nbsp;{% trans %}Import{% endtrans %}</button>
</form>
