{% extends '::base.html.twig' %}
{% block content %}
<h3>
	{% if displayServer %}
		{% trans with {"%statsname%": statColumn} %}Rankings for %statsname% inter-servers{% endtrans %}
	{% else %}
	{% trans with {"%statsname%": statColumn, '%servername%': server.name} %}Rankings for %statsname% on server: %servername%{% endtrans %}
	{% endif %}
</h3>
<div class="row-fluid" style="padding-top:20px;">
<table class="table table-bordered table-striped" id="ranks_table">
	<thead>
		<tr>
			<th>{% trans %}Rank{% endtrans %}</th>
			<th>{% trans %}Name{% endtrans %}</th>
			<th>{% trans %}Class{% endtrans %}</th>
			{% if displayServer %}<th>{% trans %}Server{% endtrans %}</th>{% endif %}
			<th>{% trans %}Guild{% endtrans %}</th>
			<th>{% trans %}Value{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
		{% for rank in ranks %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ rank.referencingTorCharacter.name }}</td>
				<td>{{ rank.referencingTorCharacter.torClass }}</td>
				{% if displayServer %}<td>{{ rank.referencingTorCharacter.server }}</td>{% endif %}
				<td>
					{% if rank.referencingTorCharacter.guild %}
						<a href="{{ path('guild_show', {'id': rank.referencingTorCharacter.guild.id}) }}">{{ rank.referencingTorCharacter.guild.name }}</i></a>
					{% else %}
						{% trans %}None{% endtrans %}
					{% endif %}
				</td>
				<td>{{ attribute(rank, statColumn)|localeNumberFormat() }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
					filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
					'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
					'@LogAnalyzerRankingBundle/Resources/public/js/ranksDataTable.js'
					filter='?yui_js'
	 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}