
<p>{% trans %}Create a character, and then select it to import your combat logs.{% endtrans %}</p>

{# <div class="fos_user_user_show">#}
{#     <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>#}
{#     <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>#}
{# </div>#}
{% if user.characters|length > 0 %}
	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}Class{% endtrans %}</th>
				<th>{% trans %}Server{% endtrans %}</th>
				<th>{% trans %}Action{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for char in user.characters %}
				<tr>
					<td>{{ char.name }}</td>
					<td>{{ char.torClass }}</td>
					<td>{{ char.server }}</td>
					<td><a class="btn btn-primary" href="{{ path('character_show', { 'id' : char.id }) }}">{% trans %}Manage{% endtrans %}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

<a class="btn btn-success" href="{{ path('character_new') }}"><i class="icon-plus-sign icon-white"></i>{% trans %}Add a character{% endtrans %}</a>