{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<p>{% trans %}Create a character, and then select it to import your combat logs.{% endtrans %}</p>

{% if user.characters|length > 0 %}
	<table class="table table-bordered table-striped" id="char_table">
		<thead>
			<tr>
				<th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}Class{% endtrans %}</th>
				<th>{% trans %}Server{% endtrans %}</th>
				<th>{% trans %}Guild{% endtrans %}</th>
				<th>{% trans %}Imported Logs Count{% endtrans %}</th>
				<th>{% trans %}Action{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for char in user.characters %}
				<tr>
					<td>{{ char.name }}</td>
					<td>{{ char.torClass.name }}</td>
					<td>{{ char.server }}</td>
					<td>
						{% if char.guild %}
							<a href="{{ path('guild_show', {'id': char.guild.id}) }}">{{ char.guild.name }}</i></a>
						{% else %}
							{% trans %}None{% endtrans %}
						{% endif %}
					</td>
					<td>{{ char.logsCount }}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-primary" href="{{ path('character_show', { 'id' : char.id }) }}"><i class="icon-cog icon-white"></i>&nbsp;{% trans %}Edit / Add log{% endtrans %}</a>
							{% if char.logsCount > 0 %}
							<a class="btn btn-info" href="{{ path('stats_show_character', { 'id' : char.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View statistics{% endtrans %}</a>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
<div class="btn-group">
	<a class="btn btn-success" href="{{ path('character_new') }}"><i class="icon-plus-sign icon-white"></i>&nbsp;{% trans %}New character{% endtrans %}</a>
	<a class="btn btn-info" href="{{ path('stats_show_user', {'id' : user.id }) }}"><i class="icon-align-left icon-white"></i>&nbsp;{% trans %}View statistics for User{% endtrans %}</a>
</div>
{% endblock %}

{% if user.characters|length > 0 %}
	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
						'@LogAnalyzerUserBundle/Resources/public/js/charDataTable.js'
						filter="?yui_js"
						%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

	{% endblock %}
{% endif %}