table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../../bundles/loganalyzerglobal/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../../bundles/loganalyzerglobal/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../../bundles/loganalyzerglobal/images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../../bundles/loganalyzerglobal/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../../bundles/loganalyzerglobal/images/sort_desc_disabled.png') no-repeat center right; }

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin-bottom: 6px !important;
	clear: both;
}

table.dataTable th:active {
	outline: none;
}
