{% form_theme form "MopaBootstrapBundle:Form:fields.html.twig" %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register well">
    {{ form_widget(form) }}
    <div>
	    <button type="submit" class="btn btn-success"><i class="icon-user icon-white"></i>&nbsp;{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
