{% extends '::base.html.twig' %}

{% block content %}
<h1>Statistics for combat log imported on {{ entity.referencingCombatlog.clImportTime|localeDate('long', 'medium') }}</h1>

<p>Started on : {{ entity.referencingCombatlog.startingDate|localeDate('long', 'medium') }} ; ended on : {{ entity.referencingCombatlog.endingDate|localeDate('long', 'medium') }}</p>


        <a class="btn" href="{{ path('character_show', {'id' : entity.referencingCombatlog.torCharacter.id }) }}">
        	<i class="icon-arrow-left"></i>
            Back
        </a>

<section id="entries_list" style="padding-top:20px;">
<ul class="nav nav-tabs">
	<li class="active"><a href="#damages" data-toggle="tab">Damages</a></li>
	<li><a href="#heal" data-toggle="tab">Heals</a></li>
	<li><a href="#tanking" data-toggle="tab">Tanking</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="damages">
		<div class="row-fluid">
			<div class="span4">
			<table class="table table-bordered table-striped">
			    <tbody>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages divided by the duration of the combat log" data-original-title="Damages Per Second">DPS overall</a></th>
			            <td>{{ entity.overallDps|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages done in this combat log" data-original-title="Total Damages Done">Total Damages Done</a></th>
			            <td>{{ entity.totalDamageDone|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total threat generated in this combat log" data-original-title="Total Threat Generated">Total Threat Generated</a></th>
			            <td>{{ entity.totalThreat|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages absorbed in this combat log" data-original-title="Total Damages Absorbed">Total Damages Absorbed</a></th>
			            <td>{{ entity.totalAbsorbedDamages|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Not available yet" data-original-title="Total Interrupts">Total Interrupts</a></th>
			            <td>{{ entity.totalInterrupts|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Not available yet" data-original-title="Total Dispells">Total Dispells</a></th>
			            <td>{{ entity.totalDispells|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Critical Damages values divided by Total damages" data-original-title="Damages Critical Percentage (value)">Damages Done Critic Percentage (Value)</a></th>
			            <td>{{ (entity.dmgDoneCritRatioValue*100)|localeNumberFormat() }}%</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Number of critical damages divided by number of damages" data-original-title="Damages Done Critic Percentage (Per Capacity)">Damages Done Critic Percentage (Per Capacity)</a></th>
			            <td>{{ (entity.dmgDoneCritRatioCapacity*100)|localeNumberFormat() }}%</td>
			        </tr>
			    </tbody>
			</table>
			</div>
			<div id="chartDamages" class="span8"></div>
		</div>
		<div class="row-fluid">
			<div id="timeChartDamages" class="span12"></div>
		</div>
	</div>
	<div class="tab-pane" id="heal">
		<div class="row-fluid">
			<div class="span4">
			<table class="table table-bordered table-striped">
			    <tbody>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total heals divided by the duration of the combat log" data-original-title="Heals Per Second">HPS overall</a></th>
			            <td>{{ entity.overallHps|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total heals done in this combat log" data-original-title="Total Heals">Total Heal Done</a></th>
			            <td>{{ entity.totalHealDone|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total heals received in this combat log" data-original-title="Total Heals Received">Total Heal Received</a></th>
			            <td>{{ entity.totalHealReceived|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total threat generated in this combat log" data-original-title="Total Threat Generated">Total Threat Generated</a></th>
			            <td>{{ entity.totalThreat|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages absorbed in this combat log" data-original-title="Total Damages Absorbed">Total Damages Absorbed</a></th>
			            <td>{{ entity.totalAbsorbedDamages|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Not available yet" data-original-title="Total Interrupts">Total Interrupts</a></th>
			            <td>{{ entity.totalInterrupts|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Not available yet" data-original-title="Total Dispells">Total Dispells</a></th>
			            <td>{{ entity.totalDispells|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Critical Heals values divided by Total heals" data-original-title="Heals Critical Percentage (value)">Heal Critic Percentage (Value)</a></th>
			            <td>{{ (entity.healCritRatioValue*100)|localeNumberFormat() }}%</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Number of critical heals divided by number of heals" data-original-title="Heals Done Critic Percentage (Per Capacity)">Heal Critic Percentage (Per Capacity)</a></th>
			            <td>{{ (entity.healCritRatioCapacity*100)|localeNumberFormat() }}%</td>
			        </tr>
			    </tbody>
			</table>
			</div>
			<div id="chartHeal" class="span8"></div>
		</div>
		<div class="row-fluid">
		</div>
	</div>
	<div class="tab-pane" id="tanking">
		<div class="row-fluid">
			<div class="span4">
			<table class="table table-bordered table-striped">

			    <tbody>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages divided by the duration of the combat log" data-original-title="Damages Per Second">DPS overall</a></th>
			        	<td>{{ entity.overallDps|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total threat divided by the duration of the combat log" data-original-title="Threat Per Second">TPS overall</a></th>
			        	<td>{{ entity.overallTps|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total heals received in this combat log" data-original-title="Total Heals Received">Total Heal Received</a></th>
			        	<td>{{ entity.totalHealReceived|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages done in this combat log" data-original-title="Total Damages Done">Total Damages Done</a></th>
			        	<td>{{ entity.totalDamageDone|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages taken in this combat log" data-original-title="Total Damages Taken">Total Damages Taken</a></th>
			        	<td>{{ entity.totalDamageTaken|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total threat generated in this combat log" data-original-title="Total Threat Generated">Total Threat Generated</a></th>
			        	<td>{{ entity.totalThreat|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Total damages absorbed in this combat log" data-original-title="Total Damages Absorbed">Total Damages Absorbed</a></th>
			        	<td>{{ entity.totalAbsorbedDamages|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Not available yet" data-original-title="Total Interrupts">Total Interrupts</a></th>
			        	<td>{{ entity.totalInterrupts|localeNumberFormat() }}</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Critical Damages values divided by Total damages" data-original-title="Damages Critical Percentage (value)">DPS Crit. % (Value)</a></th>
			        	<td>{{ (entity.dmgDoneCritRatioValue*100)|localeNumberFormat() }}%</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Critical Damages taken values divided by Total damages taken" data-original-title="Damages Taken Critical Percentage (value)">DPS Taken Crit. % (Value)</a></th>
			        	<td>{{ (entity.dmgTakenCritRatioValue*100)|localeNumberFormat() }}%</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Number of critical damages divided by number of damages" data-original-title="Damages Done Critic Percentage (Per Capacity)">DPS Crit. % (Capacity)</a></th>
			        	<td>{{ (entity.dmgDoneCritRatioCapacity*100)|localeNumberFormat() }}%</td>
			        </tr>
			        <tr>
			            <th><a href="#" rel="popover" data-content="Number of critical damages taken divided by number of damages taken" data-original-title="Damages Taken Critic Percentage (Per Capacity)">DPS Taken Crit. % (Capacity)</a></th>
			        	<td>{{ (entity.dmgTakenCritRatioCapacity*100)|localeNumberFormat() }}%</td>
			        </tr>
			    </tbody>
			</table>
			</div>
			<div id="chartDamagesTank" class="span8"></div>
		</div>
		<div class="row-fluid">
			<div id="timeChartDamagesTank" class="span12"></div>
		</div>
	</div>
</div>
</section>
{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
			<script type="text/javascript">
				var healChartData = {{ entity.healChartData|raw }};
				var damagesChartData = {{ entity.damagesChartData|raw }};
				var damagesOverTimeData = {{ entity.damagesOverTimeData|raw }};
			</script>
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/adapters/*'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highcharts.js'
						'@LogAnalyzerCombatLogBundle/Resources/public/js/capacityCharts.js'
						filter="?yui_js"
						%}
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
			<script type="text/javascript">
				$("a[rel=popover]")
			      .popover()
			      .click(function(e) {
			        e.preventDefault()
			      });
		      $(function () {
    			$('.tabs a:last').tab('show')
  				});
		    </script>

	{% endblock %}
