{% extends '::base.html.twig' %}

{% block pageTitle %}Fights list for {{ character.name }}{% endblock %}
{% block content %}

<table class="table table-bordered table-striped" id="fights_table">
    <thead>
        <tr>
            <th>Started</th>
            <th>Ended</th>
            <th>Duration</th>
            <th>Targets</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.startTime %}{{ entity.startTime|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.endTime %}{{ entity.endTime|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.duration }}</td>
            <td>{{ entity.versusTarget }}</td>
            <td>                    <a href="{{ path('stats_show_fight', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-align-left icon-white"></i>&nbsp;Stats</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
					filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
					'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
					'@LogAnalyzerCombatLogBundle/Resources/public/js/fightsDataTable.js'
					filter="?yui_js"
%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}
