{% block double_list_widget %}
<script type="text/javascript" src="{{ asset('bundles/loganalyzerglobal/js/doubleList.js') }}"></script>
<div class="controls row">
	<div class="span8">
	<div class="row">
    <div class="span3">
        <div class="double_list_label">In</div>
         <select name="{{ form.getParent().get('id') }}[{{ form.get("name") }}][]" multiple="true" id="{{ form.get("id") }}_selected" class="double_list_select-selected">
         {% for key,value in choices_selected %}
            <option value="{{ key }}">{{ value }}</option>
         {% endfor %}
         </select>
    </div>
    <div class="span1">
    	<button style="margin-top:2em;" type="button" class="btn-primary btn-mini" onclick="sfDoubleList.move('{{ form.get("id") }}_unselected','{{ form.get("id") }}_selected'); return false;">
	   		<i class="icon-arrow-left icon-white"></i>
    	</button>
    	<br/>
        <button style="margin-top:2em;" type="button" class="btn-primary btn-mini" onclick="sfDoubleList.move('{{ form.get("id") }}_selected','{{ form.get("id") }}_unselected'); return false;">
    		<i class="icon-arrow-right icon-white"></i>
        </button>
    </div>
    <div class="span3">
         <div class="double_list_label">Out</div>
        <select name="{{ form.getParent().get('id') }}[{{ form.get("name") }}][unselected]" multiple="true" id="{{ form.get("id") }}_unselected" class="double_list_select-unselected">
        {% for key,value in choices_unselected %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
        </select>
    </div>
    </div>
    </div>
    <script type="text/javascript">
        sfDoubleList.init(document.getElementById('{{ form.get("id") }}_selected'), 'double_list_select');
    </script>
</div>
{% endblock %}