{% block field_errors %}
{% spaceless %}
    {% if errors is defined and errors|length > 0 %}
        {% for error in errors %}
        <span class="help-inline error" style="float:right;width:170px;margin-top:5px;">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block field_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock field_rows %}

{% block field_row %}
{% spaceless %}
    {% if macro is not defined %}
        {% import 'LogAnalyzerGlobalBundle:Form:macro.html.twig' as macro %}
    {% endif %}
        {{ form_label(form) }}&nbsp;
            {{ form_widget(form, _context) }}
            {{ form_errors(form) }}
{% endspaceless %}
{% endblock field_row %}