{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans %}Edit Character {% endtrans %}{{ entity.name }}</h1>

<form action="{{ path('character_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary"type="submit"><i class="icon-cog icon-white"></i>&nbsp;{% trans %}Save{% endtrans %}</button>
    </p>
</form>

<div class="btn-group" style="padding-top:20px;">
        <a class="btn" href="{{ path('_welcome') }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back to the list{% endtrans %}
        </a>
        <form action="{{ path('character_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete Character{% endtrans %}</button>
        </form>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
	$('#loganalyzer_bundle_userbundle_torcharactertype_faction').change( function() {
	    $.ajax({
	        type: "GET",
	        data: "id=" + $(this).val(),
	        url:"{{ path('character_classbyfaction') }}",
	        success: function(msg){
	            if (msg != ''){
	               $('#loganalyzer_bundle_userbundle_torcharactertype_torClass').html(msg).show();
	               }
	               else
	               {
	                   $('#loganalyzer_bundle_userbundle_torcharactertype_torClass').html('<em>No item result</em>');
	               }
	           }
	       });
	  });
	$('#loganalyzer_bundle_userbundle_torcharactertype_serverZone').change( function() {
	    $.ajax({
	        type: "GET",
	        data: "id=" + $(this).val(),
	        url:"{{ path('character_serverbyzone') }}",
	        success: function(msg){
	            if (msg != ''){
	               $('#loganalyzer_bundle_userbundle_torcharactertype_server').html(msg).show();
	               }
	               else
	               {
	                   $('#loganalyzer_bundle_userbundle_torcharactertype_server').html('<em>No item result</em>');
	               }
	           }
	       });
	  });
	  </script>
{% endblock %}