{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans %}New Character{% endtrans %}</h1>

<form action="{{ path('character_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="icon-plus icon-white"></i>&nbsp;{% trans %}Create{% endtrans %}</button>
    </p>
</form>

        <a class="btn btn-primary" href="{{ path('_welcome') }}">
        	<i class="icon-arrow-left icon-white"></i>
            {% trans %}Back to the list{% endtrans %}
        </a>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
	$('#loganalyzer_bundle_userbundle_torcharactertype_faction').change( function() {
	    $.ajax({
	        type: "GET",
	        data: "id=" + $(this).val(),
	        url:"{{ path('character_classbyfaction') }}",
	        success: function(msg){
	            if (msg != ''){
	               $('#loganalyzer_bundle_userbundle_torcharactertype_torClass').html(msg).show();
	               }
	               else
	               {
	                   $('#loganalyzer_bundle_userbundle_torcharactertype_torClass').html('<em>No item result</em>');
	               }
	           }
	       });
	  });
	$('#loganalyzer_bundle_userbundle_torcharactertype_serverZone').change( function() {
	    $.ajax({
	        type: "GET",
	        data: "id=" + $(this).val(),
	        url:"{{ path('character_serverbyzone') }}",
	        success: function(msg){
	            if (msg != ''){
	               $('#loganalyzer_bundle_userbundle_torcharactertype_server').html(msg).show();
	               }
	               else
	               {
	                   $('#loganalyzer_bundle_userbundle_torcharactertype_server').html('<em>No item result</em>');
	               }
	           }
	       });
	  });
	  </script>
{% endblock %}