{% extends "LogAnalyzerUserBundle::layout.html.twig" %}
{% block contentHeading %}{% endblock %}
{% block pageTitle %}{{ entity.name }}{% endblock %}
{% block content %}
<div class="row-fluid" id="charShowRow">
	<div class="span4">
		<table class="table">
		    <tbody>
		        <tr>
		            <th>{% trans %}Class{% endtrans %}</th>
		            <td>{{ entity.torClass }}</td>
		        </tr>
		        <tr>
		            <th>{% trans %}Name{% endtrans %}</th>
		            <td>{{ entity.name }}</td>
		        </tr>
		        <tr>
		            <th>{% trans %}Server{% endtrans %}</th>
		            <td>{{ entity.server }}</td>
		        </tr>
		        <tr>
		            <th>{% trans %}Guild{% endtrans %}</th>
		            <td>
		            	{% if entity.guild %}
		            		<a href="{{ path('guild_show', {'id': entity.guild.id}) }}">{{ entity.guild.name }}</i></a>
		            	{% else %}
		            		{% trans %}None{% endtrans %}
		            	{% endif %}
		            </td>
		        </tr>
		    </tbody>
		</table>

		{% if access %}
			{% if entity.guild %}
				<a class="btn btn-danger" style="margin-top:10px;" href="{{ path('character_leaveguild', { 'id': entity.id }) }}">
					<i class="icon-remove-circle icon-white"></i>
					{% trans %}Leave Guild{% endtrans %}
				</a>
			{% else %}
				<div class="btn-group" >
					{% if entity.applies|length > 0 %}
					<a class="btn btn-primary" style="margin-top:10px;" href="{{ path('guildapply_show', { 'id': entity.applies[0].id }) }}">
						<i class="icon-question-sign icon-white"></i>
						{% trans %}View apply status{% endtrans %}
					</a>
					{% else %}
					<a class="btn btn-success" style="margin-top:10px;" href="{{ path('guildapply_new', { 'charid': entity.id }) }}">
						<i class="icon-question-sign icon-white"></i>
						{% trans %}Apply to a Guild{% endtrans %}
					</a>
					{% endif %}
				<a class="btn btn-success" style="margin-top:10px;" href="{{ path('guild_new', { 'charid': entity.id }) }}">
						<i class="icon-plus-sign icon-white"></i>
						{% trans %}Create Guild{% endtrans %}
					</a>
				</div>
			{% endif %}
		{% endif %}

		<a class="btn btn-primary" style="margin-top:10px;" href="{{ path('stats_show_character', { 'id': entity.id }) }}">
			<i class="icon-align-left icon-white"></i>
			{% trans %}View Overall statistics for Character{% endtrans %}
		</a>
		<div class="btn-group" style="padding-top:20px;">
		        <a class="btn" href="{{ path('_welcome') }}">
		        	<i class="icon-arrow-left"></i>
		            {% trans %}Back to the list{% endtrans %}
		        </a>
		        {% if access %}
			        <a class="btn btn-primary" href="{{ path('character_edit', { 'id': entity.id }) }}">
			        	<i class="icon-cog icon-white"></i>
			            {% trans %}Edit{% endtrans %}
			        </a>
		        {% endif %}
		</div>
		{% if access %}
		<br/>
        <form action="{{ path('character_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Delete Character{% endtrans %}</button>
        </form>
        {% endif %}

	</div>
	<div class="span8" id="listGroupsSpan">
		{% render "LogAnalyzerStatsBundle:GroupStats:listGroups" with {'tc_id' : entity.id } %}
	</div>
</div>
<div class="row-fluid" style="padding-top:15px;">
	<div class="span12" id="listLogsSpan">
		{% render "LogAnalyzerCombatLogBundle:CombatLog:listLogs" with {'character_id' : entity.id } %}
	</div>
</div>
{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/jquery.dataTables.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/dt_bootstrap_paging.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/spin.js'
						'@LogAnalyzerCombatLogBundle/Resources/public/js/logsDataTable.js'
						filter="?yui_js"
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script type="text/javascript">
		var opts = {
				  lines: 11, // The number of lines to draw
				  length: 11, // The length of each line
				  width: 3, // The line thickness
				  radius: 11, // The radius of the inner circle
				  rotate: 0, // The rotation offset
				  color: '#000', // #rgb or #rrggbb
				  speed: 1.2, // Rounds per second
				  trail: 52, // Afterglow percentage
				  shadow: true, // Whether to render a shadow
				  hwaccel: false, // Whether to use hardware acceleration
				  className: 'spinner', // The CSS class to assign to the spinner
				  zIndex: 2e9, // The z-index (defaults to 2000000000)
				  top: 'auto', // Top position relative to parent in px
				  left: 'auto' // Left position relative to parent in px
				};
				var target = document.getElementById('listLogsSpan');
				$('#importCombatLogBtn').click(function() {
					new Spinner(opts).spin(target);
					});
		</script>
	{% endblock %}
