<table class="table table-bordered table-striped">
	<thead>
		<tr>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total heals divided by the duration of the %entity%{% endtrans %}" data-original-title="{% trans %}Heals Per Second{% endtrans %}">{% trans %}HPS{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Max heal done during the %entity%{% endtrans %}" data-original-title="{% trans %}Max Heal Done{% endtrans %}">{% trans %}Max Heal{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total heals done in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Heals{% endtrans %}">{% trans %}Total Heal Done{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total heals received in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Heals Received{% endtrans %}">{% trans %}Total Heal Received{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total threat generated in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Threat Generated{% endtrans %}">{% trans %}Total Threat Generated{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages absorbed in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Damages Absorbed{% endtrans %}">{% trans %}Total Damages Absorbed{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Not available yet{% endtrans %}" data-original-title="{% trans %}Total Interrupts{% endtrans %}">{% trans %}Total Interrupts{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Not available yet{% endtrans %}" data-original-title="{% trans %}Total Dispells{% endtrans %}">{% trans %}Total Dispells{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Critical Heals values divided by Total heals{% endtrans %}" data-original-title="{% trans %}Heals Critical Percentage (value){% endtrans %}">{% trans %}Heal Critic Percentage (Value){% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Number of critical heals divided by number of heals{% endtrans %}" data-original-title="{% trans %}Heals Done Critic Percentage (Per Capacity){% endtrans %}">{% trans %}Heal Critic Percentage (Per Capacity){% endtrans %}</a></th>
		</tr>
	</thead>
    <tbody>
        <tr>
            <td>{{ stats.overallHps|localeNumberFormat('decimal', 3) }}</td>
            <td>{{ stats.maxHealDone }}</td>
            <td>{{ stats.totalHealDone|localeNumberFormat() }}</td>
            <td>{{ stats.totalHealReceived|localeNumberFormat() }}</td>
            <td>{{ stats.totalThreat|localeNumberFormat() }}</td>
            <td>{{ stats.totalAbsorbedDamages|localeNumberFormat() }}</td>
            <td>{{ stats.totalInterrupts|localeNumberFormat() }}</td>
            <td>{{ stats.totalDispells|localeNumberFormat() }}</td>
            <td>{{ stats.healCritRatioValue|localeNumberFormat('percent', 2) }}</td>
            <td>{{ stats.healCritRatioCapacity|localeNumberFormat('percent', 2) }}</td>
        </tr>
    </tbody>
</table>
