<table class="table table-bordered table-striped">
	<thead>
		<tr>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages divided by the duration of the %entity%{% endtrans %}" data-original-title="{% trans %}Damages Per Second{% endtrans %}">{% trans %}DPS{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Max damages dealt{% endtrans %}" data-original-title="{% trans %}Max Damages Dealt"{% endtrans %}>{% trans %}Max damage{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages done during this %entity%{% endtrans %}" data-original-title="{% trans %}Total Damages Done{% endtrans %}">{% trans %}Total Damages Done{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total threat generated during this %entity%{% endtrans %}" data-original-title="{% trans %}Total Threat Generated{% endtrans %}">{% trans %}Total Threat Generated{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages absorbed during this %entity%{% endtrans %}" data-original-title="{% trans %}Total Damages Absorbed{% endtrans %}">{% trans %}Total Damages Absorbed<{% endtrans %}/a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Not available yet{% endtrans %}" data-original-title="{% trans %}Total Interrupts{% endtrans %}">{% trans %}Total Interrupts{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Not available yet{% endtrans %}" data-original-title="{% trans %}Total Dispells{% endtrans %}">{% trans %}Total Dispells{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Critical Damages values divided by Total damages{% endtrans %}" data-original-title="{% trans %}Damages Critical Percentage (value){% endtrans %}">{% trans %}Damages Done Critic Percentage (Value){% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Number of critical damages divided by number of damages{% endtrans %}" data-original-title="{% trans %}Damages Done Critic Percentage (Per Capacity){% endtrans %}">{% trans %}Damages Done Critic Percentage (Per Capacity){% endtrans %}</a></th>
		</tr>
	</thead>
    <tbody>
        <tr>
            <td>{{ stats.overallDps|localeNumberFormat('decimal', 3)}}</td>
            <td>{{ stats.maxDamageDealt }}</td>
            <td>{{ stats.totalDamageDone|localeNumberFormat() }}</td>
            <td>{{ stats.totalThreat|localeNumberFormat() }}</td>
            <td>{{ stats.totalAbsorbedDamages|localeNumberFormat() }}</td>
            <td>{{ stats.totalInterrupts|localeNumberFormat() }}</td>
            <td>{{ stats.totalDispells|localeNumberFormat() }}</td>
            <td>{{ stats.dmgDoneCritRatioValue|localeNumberFormat('percent', 2) }}</td>
            <td>{{ stats.dmgDoneCritRatioCapacity|localeNumberFormat('percent', 2) }}</td>
        </tr>
    </tbody>
</table>
