<p>
	<a href="{{ path('stats_show_' ~ type, {'id' : id}) }}">{% trans %}Permalink{% endtrans %}</a> {% trans %}to these stats:{% endtrans %}
	<input type="text" class="span5" value="{{ url('stats_show_' ~ type, {'id' : id}) }}"/>
</p>
