<table class="table table-bordered table-striped">
	<thead>
		<tr>
			{% if fight is not null %}
				<th>{% trans %}Fight target(s){% endtrans %}</th>
				<th>{% trans %}Fight start time{% endtrans %}</th>
				<th>{% trans %}Fight end time{% endtrans %}</th>
				<th>{% trans %}Fight duration{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Death count{% endtrans %}</th>
			<th>{% trans %}Killed ennemies{% endtrans %}</th>
			<th>{% trans %}XP Gained{% endtrans %}</th>
			<th>{% trans %}XP Per Second{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% if fight is not null %}
				<td>{{ fight.versusTarget }}</td>
				<td>{{ fight.startTime|localeDate('medium', 'medium') }}</td>
				<td>{{ fight.endTime|localeDate('medium', 'medium') }}</td>
				<td>{{ fight.duration }}</td>
			{% endif %}
			<td>{{ stats.deathsCount|localeNumberFormat()  }}</td>
			<td>{% if "Monster" in stats.deaths|keys %}{{ stats.deaths.Monster|localeNumberFormat()  }}{% else %}0{% endif %}</td>
			<td>{{ stats.gainedXp|localeNumberFormat() }}</td>
			<td>{{ stats.xps|localeNumberFormat('decimal', 3) }}</td>
		</tr>
	</tbody>
</table>
