<table class="table table-bordered table-striped">
	<thead>
		<tr>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages divided by the duration of the %entity%{% endtrans %}" data-original-title="{% trans %}Damages Per Second{% endtrans %}">{% trans %}DPS{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total threat divided by the duration of the %entity%{% endtrans %}" data-original-title="{% trans %}Threat Per Second{% endtrans %}">{% trans %}TPS{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Max damages received{% endtrans %}" data-original-title="{% trans %}Max Damages Received{% endtrans %}">{% trans %}Max damage received{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Max heal received{% endtrans %}" data-original-title="{% trans %}Max Heal Received{% endtrans %}">{% trans %}Max heal received{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total heals received in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Heals Received{% endtrans %}">{% trans %}Total Heal Received{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages taken in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Damages Taken{% endtrans %}">{% trans %}Total Damages Taken{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total threat generated in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Threat Generated{% endtrans %}">{% trans %}Total Threat Generated{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans with {'%entity%':entity} %}Total damages absorbed in this %entity%{% endtrans %}" data-original-title="{% trans %}Total Damages Absorbed{% endtrans %}">{% trans %}Total Damages Absorbed{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Not available yet{% endtrans %}" data-original-title="{% trans %}Total Interrupts{% endtrans %}">{% trans %}Total Interrupts{% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Critical Damages taken values divided by Total damages taken{% endtrans %}" data-original-title="{% trans %}Damages Taken Critical Percentage (value){% endtrans %}">{% trans %}Damages Taken Critic Percentage (Value){% endtrans %}</a></th>
            <th><a href="#" rel="popover" data-content="{% trans %}Number of critical damages taken divided by number of damages taken{% endtrans %}" data-original-title="{% trans %}Damages Taken Critic Percentage (Per Capacity){% endtrans %}">{% trans %}Damages Taken Critic Percentage (Capacity){% endtrans %}</a></th>
		</tr>
	</thead>
    <tbody>
        <tr>
        	<td>{{ stats.overallDps|localeNumberFormat('decimal', 3) }}</td>
        	<td>{{ stats.overallTps|localeNumberFormat('decimal', 3) }}</td>
            <td>{{ stats.maxDamageTaken }}</td>
            <td>{{ stats.maxHealReceived }}</td>
        	<td>{{ stats.totalHealReceived|localeNumberFormat() }}</td>
        	<td>{{ stats.totalDamageTaken|localeNumberFormat() }}</td>
        	<td>{{ stats.totalThreat|localeNumberFormat() }}</td>
        	<td>{{ stats.totalAbsorbedDamages|localeNumberFormat() }}</td>
        	<td>{{ stats.totalInterrupts|localeNumberFormat() }}</td>
        	<td>{{ stats.dmgTakenCritRatioValue|localeNumberFormat('percent', 2) }}</td>
        	<td>{{ stats.dmgTakenCritRatioCapacity|localeNumberFormat('percent', 2) }}</td>
        </tr>
    </tbody>
</table>
