{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans with {'%name%':entity.referencingFight.combatlog.torCharacter.name} %}Statistics for %name%'s fight{% endtrans %}{% endblock %}


{% block content %}
<h1>{% trans %}Fight statistics{% endtrans %}</h1>
<p>
	<a class="btn" style="margin-top:10px;" href="{{ path('character_show', {'id' : entity.referencingFight.combatLog.torCharacter.id }) }}">
		<i class="icon-arrow-left"></i>
		{% trans with {'%name%': entity.referencingFight.combatLog.torCharacter.name}%}Back to character %name%{% endtrans %}
	</a>
</p>
{% render "LogAnalyzerStatsBundle:Stats:renderPermalink" with {'entity': entity.referencingFight } %}

{% render "LogAnalyzerGlobalBundle:Global:socialShareStats" with {'url': url('stats_show_fight', {'id' : entity.referencingFight.id}) } %}

<p>{% trans %}Other fights in this combat log :{% endtrans %}
<select class="span6" id="fightSelect">
	{% for fight in fights %}
		<option {% if currentFightId == fight.id %}selected="selected"{% endif %} value="{{ fight.id }}">
			{% trans with {'%start_time%': fight.startTime|localeDate('none', 'short'), '%end_time%':fight.endTime|localeDate('none', 'short') ,'%targets%': fight.versusTarget}%}[%start_time% to %end_time%] vs %targets%{% endtrans %}
		</option>
	{% endfor %}
</select>
</p>

<section id="general_stats_infos" style="padding-top:20px;">
	{% render "LogAnalyzerStatsBundle:Stats:renderGlobalStats" with {'entity': entity.referencingFight, 'stats' : entity } %}
</section> <!-- /general_stats_infos -->

<section id="entries_list" style="padding-top:20px;">
<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#damages" data-toggle="tab">{% trans %}Damages Done{% endtrans %}</a></li>
			<li><a href="#heal" data-toggle="tab">{% trans %}Heals{% endtrans %}</a></li>
			<li><a href="#tanking" data-toggle="tab">{% trans %}Damages Taken{% endtrans %}</a></li>
		</ul>
	</div><!-- /span12 -->
</div><!-- /row-fluid -->
<div class="tab-content">
	<div class="tab-pane active" id="damages">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderDamageStats" with {'entity': entity.referencingFight, 'stats' : entity } %}
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="chartDamages" class="span6"></div>
			<div id="chartAvgDamages" class="span6"></div>
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="timeChartDamages" class="span6"></div>
			<div id="timeChartDps" class="span6"></div>
		</div><!-- /row-fluid -->
	</div><!-- /tab-pane -->
	<div class="tab-pane" id="heal">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderHealStats" with {'entity': entity.referencingFight, 'stats' : entity } %}
			</div><!-- /span12 -->
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="chartHeal" class="span6"></div>
			<div id="chartAvgHeal" class="span6"></div>
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="timeChartHeals" class="span6"></div>
			<div id="chartHealTarget" class="span6"></div>
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="timeChartHps" class="span6"></div>
		</div><!-- /row-fluid -->
	</div><!-- /tab-pane -->
	<div class="tab-pane" id="tanking">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderThreatStats" with {'entity': entity.referencingFight, 'stats' : entity } %}
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="chartThreat" class="span6"></div>
			<div id="chartAvgThreat" class="span6"></div>
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="timeChartTps" class="span6"></div>
			<div id="chartHealSource" class="span6"></div>
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="chartDamagesTank" class="span6"></div>
			<div id="timeChartDamagesTank" class="span6"></div>
		</div><!-- /row-fluid -->
	</div><!-- /tab-pane -->
</div><!-- /tab-content -->
</section>
{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highcharts.js'
						'@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highstock.src.js'
						'@LogAnalyzerStatsBundle/Resources/public/js/capacityCharts.js'
						'@LogAnalyzerStatsBundle/Resources/public/js/timeChartsFight.js'
						filter="?yui_js"
						%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script type="text/javascript">
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damagePerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartDamages", '{% trans %}Damage repartition per capacity{% endtrans %}', '{% trans %}Damages per capacity{% endtrans %}', chartData);
				pieChart("chartDamagesTank", '{% trans %}Damage repartition per capacity{% endtrans %}', '{% trans %}Damages per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damageAvgPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartAvgDamages", '{% trans %}Average Damages per capacity{% endtrans %}', '{% trans %}Average damages per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healAvgPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartAvgHeal", '{% trans %}Average Heal per capacity{% endtrans %}', '{% trans %}Average heal per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "threatAvgPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartAvgThreat", '{% trans %}Average Threat per capacity{% endtrans %}', '{% trans %}Average threat per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "threatPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartThreat", '{% trans %}Threat per capacity{% endtrans %}', '{% trans %}Threat per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "deaths" }) }}'
			}).done(function(deathDataStr){
				var deathData = eval(deathDataStr);
				$.ajax({
					url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damageOverTime" }) }}'
				}).done(function(chartData){
					timeChartDamageSpline("timeChartDamages", '{% trans %}Damages over time{% endtrans %}', '{% trans %}Damages{% endtrans %}', chartData, deathData);
					timeChartDamageSpline("timeChartDamagesTank", '{% trans %}Damages over time{% endtrans %}', '{% trans %}Damages{% endtrans %}', chartData, deathData);
				});
				$.ajax({
					url: '{{ path('stats_chartdatakeys', { "id": entity.id, "name": "dpsOverTime", "numericKeys": "true" }) }}'
				}).done(function(chartData){
					timeChartSpline("timeChartDps", '{% trans %}DPS over time{% endtrans %}', '{% trans %}DPS{% endtrans %}', chartData, deathData);
				});
				$.ajax({
					url: '{{ path('stats_chartdatakeys', { "id": entity.id, "name": "healOverTime", "numericKeys": "true"  }) }}'
				}).done(function(chartData){
					timeChartSpline("timeChartHeals", '{% trans %}Heals over time{% endtrans %}', '{% trans %}Heals{% endtrans %}', chartData, deathData);
				});
				$.ajax({
					url: '{{ path('stats_chartdatakeys', { "id": entity.id, "name": "hpsOverTime", "numericKeys": "true"  }) }}'
				}).done(function(chartData){
					timeChartSpline("timeChartHps", '{% trans %}HPS over time{% endtrans %}', '{% trans %}HPS{% endtrans %}', chartData, deathData);
				});
				$.ajax({
					url: '{{ path('stats_chartdatakeys', { "id": entity.id, "name": "tpsOverTime", "numericKeys": "true"  }) }}'
				}).done(function(chartData){
					timeChartSpline("timeChartTps", '{% trans %}TPS over time{% endtrans %}', '{% trans %}TPS{% endtrans %}', chartData, deathData);
				});
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartHeal", '{% trans %}Heal repartition per capacity{% endtrans %}', '{% trans %}Heal per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerTarget" }) }}'
			}).done(function(chartData){
				pieChart("chartHealTarget", '{% trans %}Heals per target{% endtrans %}', '{% trans %}Heals per target{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerSource" }) }}'
			}).done(function(chartData){
				pieChart("chartHealSource", '{% trans %}Heals per source{% endtrans %}', '{% trans %}Heals per source{% endtrans %}', chartData);
			});
		</script>
		<script type="text/javascript">
				$('#fightSelect').change(function() {
					$('#fightSelect option:selected').each(function() {
						var fid = parseInt($(this).attr("value"));
						if (fid != "NaN") {
							var link = Routing.generate('stats_show_fight', { id : fid });
							window.location.href = link;
						}
					});
				});
				$("a[rel=popover]")
			      .popover()
			      .click(function(e) {
			        e.preventDefault()
			      });
		      $(function () {
    			$('.tabs a:last').tab('show')
  				});
		    </script>

	{% endblock %}
