{% extends '::base.html.twig' %}

{% block pageTitle %}
{% trans with {'%name%': name} %}%name%'s stats{% endtrans %}
{% endblock %}

{% block content %}
{% render "LogAnalyzerStatsBundle:Stats:showGuildRender" with {'id' : id } %}
{% endblock %}