<section id="entries_list" style="padding-top:20px;">
<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#damages" data-toggle="tab">{% trans %}Damages Done{% endtrans %}</a></li>
			<li><a href="#heal" data-toggle="tab">{% trans %}Heals{% endtrans %}</a></li>
			<li><a href="#tanking" data-toggle="tab">{% trans %}Damages Taken{% endtrans %}</a></li>
		</ul>
	</div>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="damages">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderDamageStats" with {'entity': entity.referencingGuild, 'stats' : entity } %}
		</div>
	</div>
	<div class="tab-pane" id="heal">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderHealStats" with {'entity': entity.referencingGuild, 'stats' : entity } %}
			</div>
		</div>
	</div>
	<div class="tab-pane" id="tanking">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderThreatStats" with {'entity': entity.referencingGuild, 'stats' : entity } %}
			</div>
		</div>
	</div>
</div>
</section>

