{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans with {'%char_name%':entity.referencingTorCharacter.name} %}Statistics for %char_name%{% endtrans %}{% endblock %}


{% block content %}
<h1>{% trans with {'%char_name%':entity.referencingTorCharacter.name} %}Statistics for %char_name%{% endtrans %}</h1>
<p>
        <a class="btn" href="{{ path('_welcome') }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back{% endtrans %}
        </a>
</p>

{% render "LogAnalyzerStatsBundle:Stats:renderPermalink" with {'entity': entity.referencingTorCharacter } %}

{% render "LogAnalyzerGlobalBundle:Global:socialShareStats" with {'url': url('stats_show_character', {'id' : entity.referencingTorCharacter.id}) } %}


<section id="general_stats_infos" style="padding-top:20px;">
	{% render "LogAnalyzerStatsBundle:Stats:renderGlobalStats" with {'entity': entity.referencingTorCharacter, 'stats' : entity } %}
</section> <!-- /general_stats_infos -->


<section id="entries_list" style="padding-top:20px;">
<ul class="nav nav-tabs">
	<li class="active"><a href="#damages" data-toggle="tab">{% trans %}Damages Done{% endtrans %}</a></li>
	<li><a href="#heal" data-toggle="tab">{% trans %}Heals{% endtrans %}</a></li>
	<li><a href="#tanking" data-toggle="tab">{% trans %}Damages Taken{% endtrans %}</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="damages">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderDamageStats" with {'entity': entity.referencingTorCharacter, 'stats' : entity } %}
		</div><!-- /row-fluid -->
		<div class="row-fluid">
			<div id="chartDamages" class="span6"></div>
			<div id="chartAvgDamages" class="span6"></div>
		</div>
	</div>
	<div class="tab-pane" id="heal">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderHealStats" with {'entity': entity.referencingTorCharacter, 'stats' : entity } %}
		</div>
		<div class="row-fluid">
			<div id="chartHeal" class="span6"></div>
			<div id="chartAvgHeal" class="span6"></div>
		</div>
	</div>
	<div class="tab-pane" id="tanking">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderThreatStats" with {'entity': entity.referencingTorCharacter, 'stats' : entity } %}
		</div>
		<div class="row-fluid">
			<div id="chartThreat" class="span6"></div>
			<div id="chartAvgThreat" class="span6"></div>
		</div>
	</div>
</div>
</section>
{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highcharts.js'
						'@LogAnalyzerStatsBundle/Resources/public/js/capacityCharts.js'
						filter="?yui_js"
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script type="text/javascript">
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damagePerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartDamages", '{% trans %}Damage repartition per capacity{% endtrans %}', '{% trans %}Damages per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damageAvgPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartAvgDamages", '{% trans %}Average Damages per capacity{% endtrans %}', '{% trans %}Average damages per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartHeal", '{% trans %}Heal repartition per capacity{% endtrans %}', '{% trans %}Heal per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healAvgPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartAvgHeal", '{% trans %}Average Heal per capacity{% endtrans %}', '{% trans %}Average heal per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "threatPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartThreat", '{% trans %}Threat per capacity{% endtrans %}', '{% trans %}Threat per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "threatAvgPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartAvgThreat", '{% trans %}Average Threat per capacity{% endtrans %}', '{% trans %}Average threat per capacity{% endtrans %}', chartData);
			});
		</script>
		<script type="text/javascript">
				$("a[rel=popover]")
			      .popover()
			      .click(function(e) {
			        e.preventDefault()
			      });
		      $(function () {
    			$('.tabs a:last').tab('show')
  				});
		    </script>

	{% endblock %}
