{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans with {'%name%':entity.referencingCombatlog.torCharacter.name} %}Statistics for %name%'s combat log{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans with {'%date%':entity.referencingCombatlog.clImportTime|localeDate('long', 'medium') } %}Statistics for combat log imported on %date%{% endtrans %}</h1>

<p>{% trans with {'%begin_date%': entity.beginTime|localeDate('long', 'medium'), '%end_date%':entity.endTime|localeDate('long', 'medium')} %}Started on : %begin_date% ; ended on : %end_date%{% endtrans %}</p>
<p>
        <a class="btn" href="{{ path('character_show', {'id' : entity.referencingCombatlog.torCharacter.id }) }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back{% endtrans %}
        </a>
</p>

{% render "LogAnalyzerStatsBundle:Stats:renderPermalink" with {'entity': entity.referencingCombatLog } %}

{% render "LogAnalyzerGlobalBundle:Global:socialShareStats" with {'url': url('stats_show_combatlog', {'id' : entity.referencingCombatLog.id}) } %}

<section id="fight_select" style="padding-top:20px;">
<div class="row-fluid">
<p>{% trans with {'%fight_length%': fights|length} %}%fight_length% fights occured in this combat log.{% endtrans %}
<select class="span4" id="fightSelect">
		<option>{% trans %}Select a fight to access its detailed statistics{% endtrans %}</option>
	{% for fight in fights %}
		<option value="{{ fight.id }}">
			{% trans with {'%start_time%': fight.startTime|localeDate('none', 'short'), '%end_time%':fight.endTime|localeDate('none', 'short') ,'%targets%': fight.versusTarget}%}[%start_time% to %end_time%] vs %targets%{% endtrans %}
		</option>
	{% endfor %}
</select>
</p>
</div>
</section>

<section id="general_stats_infos" style="padding-top:20px;">

	{% render "LogAnalyzerStatsBundle:Stats:renderGlobalStats" with {'entity': entity.referencingCombatLog, 'stats' : entity } %}

</section>


<section id="entries_list" style="padding-top:20px;">
<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#damages" data-toggle="tab">{% trans %}Damages Done{% endtrans %}</a></li>
			<li><a href="#heal" data-toggle="tab">{% trans %}Heals{% endtrans %}</a></li>
			<li><a href="#tanking" data-toggle="tab">{% trans %}Damages Taken{% endtrans %}</a></li>
		</ul>
	</div>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="damages">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderDamageStats" with {'entity': entity.referencingCombatLog, 'stats' : entity } %}
		</div>
		<div class="row-fluid">
			<div id="chartDamages" class="span6"></div>
			<div id="timeChartDamages" class="span6"></div>
		</div>
	</div>
	<div class="tab-pane" id="heal">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderHealStats" with {'entity': entity.referencingCombatLog, 'stats' : entity } %}
			</div>
		</div>
		<div class="row-fluid">
			<div id="chartHeal" class="span6"></div>
			<div id="chartHealTarget" class="span6"></div>
		</div>
	</div>
	<div class="tab-pane" id="tanking">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderThreatStats" with {'entity': entity.referencingCombatLog, 'stats' : entity } %}
			</div>
		</div>
		<div class="row-fluid">
			<div id="chartDamagesTank" class="span8"></div>
			<div id="chartHealSource" class="span4"></div>
		</div>
		<div class="row-fluid">
			<div id="timeChartDamagesTank" class="span12"></div>
		</div>
	</div>
</div>
</section>
{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		{% javascripts '@LogAnalyzerGlobalBundle/Resources/public/js/vendor/highcharts/highcharts.js'
						'@LogAnalyzerStatsBundle/Resources/public/js/capacityCharts.js'
						'@LogAnalyzerStatsBundle/Resources/public/js/timeChartsCombatLog.js'
						filter='?yui_js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script type="text/javascript">
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damagePerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartDamages", '{% trans %}Damage repartition per capacity{% endtrans %}', '{% trans %}Damages per capacity{% endtrans %}', chartData);
				pieChart("chartDamagesTank", '{% trans %}Damage repartition per capacity{% endtrans %}', '{% trans %}Damages per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "damageOverTime" }) }}'
			}).done(function(chartData){
				timeChart("timeChartDamages", '{% trans %}Damages over time{% endtrans %}', '{% trans %}Damages{% endtrans %}', chartData);
				timeChart("timeChartDamagesTank", '{% trans %}Damages over time{% endtrans %}', '{% trans %}Damages{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerCapacity" }) }}'
			}).done(function(chartData){
				pieChart("chartHeal", '{% trans %}Heal repartition per capacity{% endtrans %}', '{% trans %}Heal per capacity{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerTarget" }) }}'
			}).done(function(chartData){
				pieChart("chartHealTarget", '{% trans %}Heals per target{% endtrans %}', '{% trans %}Heals per target{% endtrans %}', chartData);
			});
			$.ajax({
				url: '{{ path('stats_chartdata', { "id": entity.id, "name": "healPerSource" }) }}'
			}).done(function(chartData){
				pieChart("chartHealSource", '{% trans %}Heals per source{% endtrans %}', '{% trans %}Heals per source{% endtrans %}', chartData);
			});
		</script>
		<script type="text/javascript">

			$('#fightSelect').change(function() {
				$('#fightSelect option:selected').each(function() {
					var id = parseInt($(this).attr("value"));
					if (id != "NaN") {
						window.location.href = Routing.generate('stats_show_fight', { id : $(this).attr("value") });
					}
				});
			});

		</script>
		<script type="text/javascript">
			$("a[rel=popover]").popover().click(function(e) {
				e.preventDefault()
			});
			$(function () {
				$('.tabs a:last').tab('show')
			});
	    </script>

	{% endblock %}
