{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans with {'%name%':entity.referencingUser.username }%}Statistics for user %name%{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans with {'%name%':entity.referencingUser.username }%}Statistics for user %name%{% endtrans %}</h1>
<p>
        <a class="btn" href="{{ path('_welcome') }}">
        	<i class="icon-arrow-left"></i>
            {% trans %}Back{% endtrans %}
        </a>
</p>
{% render "LogAnalyzerStatsBundle:Stats:renderPermalink" with {'entity': entity.referencingUser } %}

{% render "LogAnalyzerGlobalBundle:Global:socialShareStats" with {'url': url('stats_show_user', {'id' : entity.referencingUser.id}) } %}


<section id="general_stats_infos" style="padding-top:20px;">
	{% render "LogAnalyzerStatsBundle:Stats:renderGlobalStats" with {'entity': entity.referencingUser, 'stats' : entity } %}
</section> <!-- /general_stats_infos -->

<section id="entries_list" style="padding-top:20px;">
<ul class="nav nav-tabs">
	<li class="active"><a href="#damages" data-toggle="tab">{% trans %}Damages Done{% endtrans %}</a></li>
	<li><a href="#heal" data-toggle="tab">{% trans %}Heals{% endtrans %}</a></li>
	<li><a href="#tanking" data-toggle="tab">{% trans %}Damages Taken{% endtrans %}</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="damages">
		<div class="row-fluid">
			{% render "LogAnalyzerStatsBundle:Stats:renderDamageStats" with {'entity': entity.referencingUser, 'stats' : entity } %}
		</div>
	</div>
	<div class="tab-pane" id="heal">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderHealStats" with {'entity': entity.referencingUser, 'stats' : entity } %}
			</div>
		</div>
	</div>
	<div class="tab-pane" id="tanking">
		<div class="row-fluid">
			<div class="span12">
			{% render "LogAnalyzerStatsBundle:Stats:renderThreatStats" with {'entity': entity.referencingUser, 'stats' : entity } %}
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% stylesheets 'bundles/loganalyzerglobal/css/vendor/DT_bootstrap.css'
						filter='cssrewrite, ?yui_css' %}
       	<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
			<script type="text/javascript">
				$("a[rel=popover]")
			      .popover()
			      .click(function(e) {
			        e.preventDefault()
			      });
		      $(function () {
    			$('.tabs a:last').tab('show')
  				});
		    </script>

	{% endblock %}
