<h1>GuildApply list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Applydate</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('guildapply_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.applyDate %}{{ entity.applyDate|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.reason }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('guildapply_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('guildapply_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('guildapply_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
