{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans %}Apply to a guild{% endtrans %}</h1>

<form action="{{ path('guildapply_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="icon-plus icon-white"></i>&nbsp;{% trans %}Apply{% endtrans %}</button>
    </p>
</form>

        <a class="btn btn-primary" href="{{ path('character_show', {'id' : entity.applyant.id }) }}">
        	<i class="icon-arrow-left icon-white"></i>
            {% trans %}Back to the character{% endtrans %}
        </a>
{% endblock %}