{% extends "LogAnalyzerUserBundle::layout.html.twig" %}

{% block content %}
<h1>{% trans %}Current apply{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Apply Date{% endtrans %}</th>
            <td>{{ entity.applyDate|localeDate('medium', 'medium') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Applied To{% endtrans %}</th>
            <td>{{ entity.applied.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}Status{% endtrans %}</th>
            <td>{{ entity.status }}</td>
        </tr>
        {% if entity.status == 3 %}
        <tr>
            <th>{% trans %}Reason{% endtrans %}</th>
            <td>{{ entity.reason }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="btn-group" style="padding-top:20px;">
        <a class="btn" href="{{ path('character_show', {'id' : entity.applyant.id}) }}">
        <i class="icon-arrow-left"></i>
            {% trans %}Back to the character{% endtrans %}
        </a>
        <form action="{{ path('guildapply_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Cancel apply{% endtrans %}</button>
        </form>
</div>
{% endblock %}